.clients {
    background: $grey-section;

    &__logos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 0 45px;

        li {
            padding: 10px 32px;
        }
    }

    .swiper-wrapper {
        padding-bottom: 48px;
    }

    .swiper-pagination {
        bottom: 0;
    }

    .swiper-pagination-bullet {
        width: 13px;
        height: 13px;
        background: #ddd;

        &.swiper-pagination-bullet-active {
            background: $red;
        }
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        line-height: 1.67;

        p {
            margin: 0 auto 28px;
            max-width: 780px;
        }
    }

    &__swiper-author {
        font-size: 20px;
    }
}


.fa-map-marker-alt:before {
    content: url('../images/fa-map-marker.png');
    padding: 0;
}

.fa-mobile-alt:before {
    content: url('../images/fa-mobile-phone.png');
}

.fa-envelope:before {
    content: url('../images/fa-envelope-o.png');
}

.form {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    padding-top: 100px;
  }
  
  .form-box {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    color: #555555;
  }
  
  .form-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 50px;
  }
  
  .form-line {
    height: 2px;
    width: 50px;
    background-color: #555555;
    margin: 0 auto;
  }
  
  .form-title {
    display: block;
    text-align: center;
    padding-bottom: 70px;
  }
  
  .title-form {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .subtitle-about {
    font-size: 16px;
  }
  
  .adress-point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .point-text {
    max-width: 245px;
    width: 100%;
    text-align: left;
    width: 100%;
    font-size: 14px;
    line-height: 1.6;
    font-family: 'Roboto Slab', serif;
  }
  
  .point-phone {
    max-width: 200px;
    width: 100%;
    text-align: left;
    width: 100%;
    line-height: 1.6;
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
  }
  
  .adress-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .fas {
    padding-right: 13px;
  }
  
  .far {
    padding-right: 13px;
  }
  
  .line-text {
    max-width: 250px;
    text-align: left;
    width: 100%;
  }
  
  .adress-mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .adress-svg {
    line-height: 8;
  }
  
  .map-point {
    display: block;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  }
  
  .map-point p {
    display: block;
  }
  
  .point-adres {
    font-weight: 600;
    text-transform: uppercase;
    color: #555555;
  }
  
  .mail-text {
    max-width: 250px;
    text-align: left;
    width: 100%;
  }
  
  .form-wraper {
    max-width: 730px;
    width: 100%;
  }
  
  .block__input-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 730px;
    width: 100%;
    margin-bottom: 21px;
  }
  
  .block__input-1 input {
    max-width: 350px;
    width: 100%;
    height: 44px;
    color: #555555;
  }
  
  .block__input-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 730px;
    width: 100%;
    margin-bottom: 21px;
  }
  
  .block__input-2 input {
    max-width: 350px;
    width: 100%;
    height: 44px;
    color: #555555;
  }
  
  textarea {
    max-width: 730px;
    width: 100%;
    height: 104px;
    resize: none;
    color: #555555;
    padding-top: 17px;
  }
  
  .area-send {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  
  .textarea-btn {
    max-width: 170px;
    width: 100%;
    background-color: #ffffff;
    font-family: 'Roboto Slab', serif;
    height: 44px;
    text-transform: uppercase;
    border: 1px solid #555555;
    color: #555555;
    margin-top: 21px;
    cursor: pointer;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  
  .textarea-btn:hover {
    background-color: #c0301c;
    color: #ffffff;
    border: 1px solid #ffffff;
  }
  
  input {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    border: 1px solid #555555;
  }
  
  .form-mrg {
    outline: none !important;
    margin-right: 25px;
  }
  
  .form-red {
    padding-left: 17px;
  }
  
  .form-red:focus,
  .form-red:active {
    outline: none !important;
    border: 1px solid #c0301c;
  }
  
  .textarea-text {
    color: #555555;
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
    padding-left: 38px;
  }
  
  ::-webkit-input-placeholder {
    text-transform: uppercase;
    color: #555555;
    font-size: 12px;
    font-family: 'Roboto Slab', serif;
  }
  
  ::-moz-placeholder {
    text-transform: uppercase;
    color: #555555;
    font-size: 12px;
    font-family: 'Roboto Slab', serif;
  }
  
  :-ms-input-placeholder {
    text-transform: uppercase;
    color: #555555;
    font-size: 12px;
    font-family: 'Roboto Slab', serif;
  }
  
  ::-ms-input-placeholder {
    text-transform: uppercase;
    color: #555555;
    font-size: 12px;
    font-family: 'Roboto Slab', serif;
  }
  
  ::placeholder {
    text-transform: uppercase;
    color: #555555;
    font-size: 12px;
    font-family: 'Roboto Slab', serif;
  }
  
  .red-star {
    color: #c0301c;
  }
  
  footer {
    width: 100%;
    height: 307px;
    background-color: #c0301c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .footer-box {
    max-width: 270px;
    width: 100%;
  }
  
  .footer-box {
    text-align: center;
    max-width: 364px;
    width: 100%;
  }
  
  .footer-box p {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
  }
  
  .footer-svg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    width: 280px;
    margin: 0 auto;
  }
  
  .footer-svg p {
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  
  .footer-svg p:hover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  
  .footer-line {
    width: 50px;
    height: 2px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .burger__none {
    display: none;
    cursor: pointer;
  }
  
  .menu-page__ul {
    display: block;
    line-height: 1.5;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .nav-block {
    display: none;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    padding-top: 60px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  
  .closebtn {
    position: absolute;
    top: 28px;
    right: 54px;
  }
  
  .burger__none {
    display: none;
    cursor: pointer;
  }
  
  .menu-page__ul {
    display: block;
    line-height: 1.5;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .nav-block {
    display: none;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    padding-top: 60px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  
  .closebtn {
    position: absolute;
    top: 28px;
    right: 54px;
  }
  
  .popup {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    pointer-events: none;
    opacity: 0;
  }
  
  .popup.is-active {
    pointer-events: all;
    opacity: 1;
  }
  
  .popup-menu {
    max-width: 400px;
    width: 100%;
    height: 400px;
    background-color: white;
    font-family: 'Roboto Slab', serif;
    border-radius: 5%;
    padding: 10px;
    margin: 5px;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
  }
  
  .popup-menu.is-active {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
  }
  
  .popup-menu p {
    color: #000000;
    font-size: 16px;
  }
  
  .pop-close {
    -webkit-filter: invert(1);
            filter: invert(1);
    position: relative;
    top: 7px;
    left: -10px;
    width: 30px;
    height: 30px;
    opacity: .5;
  }
  
  .pop-box {
    padding-left: 70px;
    line-height: 2;
  }
  
  .popup-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    cursor: pointer;
  }
  
  .popup-input input {
    max-width: 250px;
    width: 100%;
    height: 34px;
    padding-left: 5px;
  }
  
  .popup-check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .popup-check p {
    padding-left: 10px;
  }
  
  .popup-menu button {
    max-width: 100px;
    width: 100%;
    height: 40px;
    background-color: #c0301c;
    color: white;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  .popup-menu button:hover {
    background-color: #ffffff;
    color: #c0301c;
    border: 1px solid #c0301c;
  }
 